.hero {
    text-align: center;
    background-color: #29823f;
    padding: 2vw;
    margin-bottom: 20px;
}


.hero h1 {
    color: white;
    font-size: 6vw;
    margin-bottom: 20px;
    
}

.hero-text {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 2vw;
}

.hero-greeting {
    text-align: center;
    font-size: 2vw;
    font-weight: 800;
    margin-bottom: 10px;
}

.separator-horizontal {
    height: 1px;
    width: 70%;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
}

