section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.big-grid {
    grid-column: span 2;

}

.small-grid {
    grid-column: span 1;
}

/* # elmin grid styling  */
/* .product-list { */
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); Erste Reihe mit 4 Spalten */
    /* gap: 20px; Abstand zwischen den Elementen */
  /* } */
  
  /* .product-list > *:nth-child(n + 5) { */
    /* grid-column: span 2; Ab dem 5. Element jeweils 2 Spalten einnehmen */
  /* } */