.nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    width: 75%;
    margin: 0 auto;
}

.nav-btn img {
    height: 2vw;
}

.nav-btn div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vw;
}