@font-face {
  font-family: "Poppins";
  src: url(../public/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "PoppinsFat";
  src: url(../public/fonts/Poppins/Poppins-ExtraBold.ttf);
}


img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_darkblue: #23283e;
  --color2: #2a2f4c;
  --colorlilacgrey: #bdbddd;
  --colorlilacrose: #cdcdff;
  --colorlilacpurple: #90a0d9;

}

html {
  background-color: var(--color_darkblue);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "PoppinsFat", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--colorlilacgrey);
}