.portfolio {
    /* background-color: antiquewhite; */
    padding: 2vw;
    text-align: center;
}

.portfolio h3 {
    color: #29823f;
    font-size: 1.5rem; 
}

.portfolio h2 {
    font-size: 2.5rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3vw;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;

    /* background-color: teal; */
    gap: 10px;
    
    text-align: left;
}


.portfolio-wrapper div {
    width: 49%;
    /* margin: 0 auto; */
    /* background-color: coral; */
    display: flex;
    height: 10vw;
    line-height: 150%;

}

.portfolio-wrapper div img {
    height: 3vw;
    margin: 0.5vw;
}

.portfolio-wrapper div article h4 {
    font-weight: 800;
    font-size: 1.5rem;
}

.portfolio-wrapper div article p {
    width: 80%;
}