button {
    background-color: var(--colorred1);
    border: none;
    padding: 2vw;
    border-radius: 5px;
    color: white;
}

.btn-with-arrow {
    display: flex;
    justify-content: center;
    gap: 2vw;
}